@(emailForm: Form[uk.gov.dvla.vehicles.presentation.common.models.EmailModel])(implicit lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common
@import uk.gov.dvla.vehicles.presentation.common.models
@import uk.gov.dvla.vehicles.presentation.common.controllers
@import common.views.helpers.BaseTemplate.fieldConstructor
@import common.views.html.widgets.base.valtechInputText
@import views.html.helper.form
@import uk.gov.dvla.vehicles.presentation.common.views
@import uk.gov.dvla.vehicles.presentation.common.models.EmailModel.Form.EmailId

@main(
    title = Messages(Messages("email.pageTitle")),
    currentForm = Some(emailForm)
) {
    @form(action = controllers.routes.EmailController.submit) {

        @views.html.widgets.email(
            emailForm(EmailId),
            "Email address for testing",
            args = Map(
                'validityMessage -> "Invalid email address error message"
            )
        )

        <div class="form-steps">
                <button id="submit" type="submit" name="action" class="button" aria-label="Next button" >@Messages("email.button")</button>
        </div>
    }
}
