@(fbForm: Form[uk.gov.dvla.vehicles.presentation.common.model.FeedbackForm])(implicit lang: Lang,
token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
controls: Map[String, Call])

@import views.html.helper.form
@import uk.gov.dvla.vehicles.presentation.common.views.helpers.BaseTemplate.fieldConstructor
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.feedbackForm

@main(
    title = Messages("feedbackForm.pageTitle"),
    currentForm = Some(fbForm)
) {
    @feedbackForm(fbForm)
}
