@(fields: Form[uk.gov.dvla.vehicles.presentation.common.controllers.GaModel])(implicit lang: Lang)

@import _root_.views.html.helper.input
@import views.html.helper.form
@import uk.gov.dvla.vehicles.presentation.common.controllers
@main(title = "Google analytics events sender", currentForm = Some(fields)) {
    @form(action = controllers.routes.GaEventsController.submit) {

        @input(fields("optionalString")) { (id, name, value, htmlArgs) =>
            <input id="@id" type="text" name="@name" value="@value"
                   class="ga-track-optional-text"
                   data-ga-action="data-ga-action val"
                   data-ga-value="data-ga-value val" />
        }
        <a class="ga-track-click-event-once"
           data-ga-event-category="data-ga-event-category val"
           data-ga-event-action="data-ga-event-action val">Click me twice</a>

        <input id="js-events-hidden" type="hidden" name="js-events" value=""/>

        <div class="form-steps">
            <button id="submit"
                    type="submit"
                    name="action"
                    class="button"
                    aria-label="Next button">
                @Messages("valtechInputText.button")
            </button>
        </div>
    }
}

<script>
$('button[type="submit"]').on('click', function(e) {
    $('#js-events-hidden').attr('value', JSON.stringify(_gaq));
});
</script>
