@(title: String)(content: Html)(implicit lang: Lang)

@* @import views.html.common.{alternateLanguages, feedback} *@
@* @import views.common.Help.HelpLinkId *@
@import play.api.Play
@import play.api.Play.current
@import uk.gov.dvla.vehicles.presentation.common.controllers
@import controllers.routes.Application

<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@title</title>

    <link rel="stylesheet" href="@routes.Assets.at("screen.min.css")" media="screen" type="text/css">

    @if(!Play.isTest) {
    @* Do not fetch external assets when testing. Ideally we should have asset local and in version control *@
    <link rel="stylesheet" href="https://assets.digital.cabinet-office.gov.uk/static/fonts-607c54f71c7c1f98257595cedaa13a34.css" media="all" type="text/css">
    }

    <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")" type="image/x-icon">
    <script>
        var _gaq = _gaq || [];
    </script>
</head>

<body>

<a href="#main" class="visuallyhidden">Skip to main content</a>

<div role="banner" class="global-header" id="global-header">
    <div class="header-wrapper">
        <div class="content">
            <div class="header-global">
                <div class="header-logo">
                    <a href="@Application.present()" title="Go to the widget index" class="logo">
                        <img src="https://assets.digital.cabinet-office.gov.uk/static/gov.uk_logotype_crown-c09acb07e4d1d5d558f5a0bc53e9e36d.png" width="35" height="31" alt=""> GOV.UK
                    </a>
                </div>

            </div>
            <div class="header-proposition">
                <div class="content">
                    <div class="proposition-menu">
                        <h1 class="page-title"><strong>@{Messages("main.banner")}</strong></h1>
                        <ul class="proposition-links">

                            @*<li>@alternateLanguages()</li>*@

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end header-->

<div role="main" id="main">
    @content
</div>

<div class="footer" id="footer" role="contentinfo">
    <div class="footer-wrapper vehicles-online-footer">
        <div class="footer-meta">
            <div class="footer-meta-inner">
                <div class="open-government-licence">
                    <h2>
                        <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2">
                            <img src="@routes.Assets.at("images/open-government-licence_2x.png")" alt="OGL">
                        </a>
                    </h2>
                    <p>All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2">Open Government Licence v2.0</a>, except where otherwise stated</p>
                </div>
            </div>
            @if(!Play.isTest) {
            @* Do not fetch external assets when testing. Ideally we should have asset local and in version control *@
            <div class="copyright print-only">
                <img src="@routes.Assets.at("images/govuk-crest.png")" alt="Crown Copyright">
            </div>
            <div class="copyright">
                <a href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm" target="_blank">&copy;
                    Crown Copyright</a>
            </div>
            }
        </div>
    </div>
</div>
<!--end footer-->

<div id="global-app-error" class="app-error hidden"></div>


<script>
    @Html(org.webjars.RequireJS.getSetupJavaScript(routes.WebJarAssets.at("").url))
</script>
<script data-main="@routes.Assets.at("javascripts/main.js")"
        src="@routes.WebJarAssets.at(WebJarAssets.locate("require.min.js"))">
</script>
</body>
</html>
