@(title: String,
  currentForm: Option[Form[_]] = None,
  backNavigation: Boolean = true)(content: Html)(implicit lang: Lang)

@import controllers.Assets.Asset
@import uk.gov.dvla.vehicles.presentation.common.controllers.routes.CookiePolicyController
@import uk.gov.dvla.vehicles.presentation.common.views.html.layouts.footer
@import uk.gov.dvla.vehicles.presentation.common.views.html.layouts.head
@import uk.gov.dvla.vehicles.presentation.common.views.html.layouts.header
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.errorsSummary

@mainContent = {
    <div class="app common-test">

        <div class="section-content" style="margin-bottom:0;padding-bottom:4em;">
            @if(backNavigation) {
                <div class="back-navigation">
                  <a class="back" id="back" href="/">@Messages("main.back")</a>
              </div>
            }

            <h1>@title</h1>

            @errorsSummary(currentForm)

            @content
        </div>
    </div>
}

@defining((file: Asset) => routes.Assets.versioned(file).url) { assetsPrefix =>

@uk.gov.dvla.vehicles.presentation.common.views.html.layouts.govTemplate(
  head = head(title, assetsPrefix, googleAnalyticsTrackingId = None),
  bodyAttributes = Nil,
  serviceClosingWarning = None,
  header = header(assetsPrefix = assetsPrefix, cookiePolicyLink = CookiePolicyController.present),
  content = mainContent,
  footer = footer(assetsPrefix, None)
)

}
