@(tryAgainTarget: play.api.mvc.Call,
  exitTarget: play.api.mvc.Call)(implicit lang: Lang,
  token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken)

@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.microServiceError

@main(
title = Messages("micro-service-error.title")
) {
    @microServiceError(Messages("micro-service-error.opening"), Messages("micro-service-error.closing"), tryAgainTarget, exitTarget, Messages("openDays.lastDay.pr"))

    @microServiceError(Messages("micro-service-error.opening"), Messages("micro-service-error.closing"), tryAgainTarget, exitTarget, Messages("openDays.lastDay.vm"))

}
