@(postcodeForm: Form[uk.gov.dvla.vehicles.presentation.common.models.PostcodeModel])(implicit lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common
@import common.views.helpers.BaseTemplate.fieldConstructor
@import common.views.html.widgets.base.valtechInputText
@import uk.gov.dvla.vehicles.presentation.common.models
@import uk.gov.dvla.vehicles.presentation.common.controllers
@import models.PostcodeModel.Form.PostcodeId
@import views.html.helper.form

@main(
    title = Messages(Messages("postcode.pageTitle")),
    currentForm = Some(postcodeForm)
) {
    @form(action = controllers.routes.PostcodeController.submit) {

        @valtechInputText(postcodeForm(PostcodeId),
        hintText = Some(Messages("postcode.hint")),
        args =  Map('_label -> Messages("postcode.label"),
        '_showConstraints -> false,
        'autofocus -> true)
        )

    <div class="form-steps">
            <button id="submit" type="submit" name="action" class="button" aria-label="Next button">@Messages("postcode.button")</button>
    </div>
    }
}
