@(validateForm: Form[uk.gov.dvla.vehicles.presentation.common.models.ValidateHtml5ClientSideModel])(implicit lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common
@import uk.gov.dvla.vehicles.presentation.common.models
@import uk.gov.dvla.vehicles.presentation.common.controllers
@import common.views.helpers.BaseTemplate.fieldConstructor
@import common.views.html.widgets.base.valtechInputText
@import views.html.helper.form
@import uk.gov.dvla.vehicles.presentation.common.views
@import uk.gov.dvla.vehicles.presentation.common.models.ValidateHtml5ClientSideModel.Form.EmailId
@import uk.gov.dvla.vehicles.presentation.common.models.ValidateHtml5ClientSideModel.Form.MileageId
@import uk.gov.dvla.vehicles.presentation.common.models.ValidateHtml5ClientSideModel.Form.DocumentReferenceNumberId
@import uk.gov.dvla.vehicles.presentation.common.mappings.{DocumentReferenceNumber, VehicleRegistrationNumber}
@import uk.gov.dvla.vehicles.presentation.common.views
@import views.constraints.Required.RequiredField
@import play.api.templates.PlayMagic.toHtmlArgs
@import views.helpers.HtmlArgsExtensions.RichHtmlArgs
@import views.html.widgets.base.valtechLabel
@import _root_.views.html.helper.input
@import views.html.widgets.base.hintTextSnippet

@main(
    title = Messages(Messages("email.pageTitle")),
    currentForm = Some(validateForm)
) {
@form(action = controllers.routes.EmailController.submit) {

    @views.html.widgets.email(validateForm(EmailId), "Email address for testing",
    args = Map(
        'validityMessage -> Messages("error.restricted.validEmail")
        )
    )

    @views.html.widgets.base.valtechInputDigits(validateForm(MileageId),
        hintText = Some(Messages("mileage.hint")),
        args =  Map('_label -> Messages("mileage.label"),
            '_showConstraints -> false,
            'autofocus -> true
        )
    )

    @views.html.widgets.optionalToggle(
        validateForm(EmailId),
        "Fleet Number",
        "yes",
        "no",
        valtechInputText(
            validateForm(EmailId),
            hintText = Some("change_keeper_businesskeeperdetails.businessname.hint"),
            args = Map(
                '_label ->"change_keeper_businesskeeperdetails.fleetnumber",
                'maxLength -> 10,
                '_showConstraints -> true,
                'NO_OPTIONAL_LABEL -> false
            ) ++ Map('pattern -> common.views.constraints.FleetNumber.Pattern)
        )
    )
    @hintTextSnippet(Some("change_keeper_businesskeeperdetails.businessname.hint"), idOfRelatedInput = EmailId)



    <!-- V5 Lookup details -->
    @valtechInputText(validateForm(DocumentReferenceNumberId), hintText = Some(Messages("v5cRegistrationNumber.hint")),
        args = Map(
            '_label -> Messages("v5cRegistrationNumber.label"),
            '_showConstraints -> false,
            'maxLength -> DocumentReferenceNumber.MaxLength, // Must be set independently of the pattern as the pattern is only checked when the user submits.
            'pattern -> DocumentReferenceNumber.Pattern)
    )

    <div class="form-steps">
        <button id="submit" type="submit" name="action" class="button" aria-label="Next button" >@Messages("email.button")</button>
    </div>
    }
}
