@(valtechInputDayMonthYearForm: Form[uk.gov.dvla.vehicles.presentation.common.models.ValtechInputDayMonthYearModel],
dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService)(implicit lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common
@import uk.gov.dvla.vehicles.presentation.common.models
@import uk.gov.dvla.vehicles.presentation.common.controllers
@import common.views.helpers.BaseTemplate.fieldConstructor
@import common.views.html.widgets.dates.inputDayMonthYear
@import models.ValtechInputDayMonthYearModel.Form.DateOfBirthId
@import views.html.helper.form

@main(
    title = Messages("valtechInputDayMonthYear.pageTitle"),
    currentForm = Some(valtechInputDayMonthYearForm)
) {
    @form(action = controllers.routes.ValtechInputDayMonthYearController.submit) {

        @inputDayMonthYear(
            field = valtechInputDayMonthYearForm(DateOfBirthId),
            years = dateService.today.yearRangeToDropdown(yearsIntoThePast = 10),
            args = Map(
                '_label -> Messages("valtechInputDayMonthYear.label"),
                'autofocus -> true
            ),
            dateService = dateService,
            showTodaysDateButton = false
        )

        <div class="form-steps">
            <button id="submit" type="submit" name="action" class="button" aria-label="Next button">@Messages("valtechInputDayMonthYear.button")</button>
        </div>
    }
}
