@(valtechDeclareCheckForm: Form[uk.gov.dvla.vehicles.presentation.common.models.ValtechDeclareCheckModel])(implicit lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common
@import uk.gov.dvla.vehicles.presentation.common.models
@import uk.gov.dvla.vehicles.presentation.common.controllers
@import common.views.helpers.BaseTemplate.fieldConstructor
@import common.views.html.widgets.base.valtechDeclareCheck
@import models.ValtechDeclareCheckModel.Form.DeclareSelectId
@import views.html.helper.form

@main(
    title = Messages("valtechDeclareCheck.pageTitle"),
    currentForm = Some(valtechDeclareCheckForm)
) {
    @form(action = controllers.routes.ValtechDeclareCheckController.submit) {

        @valtechDeclareCheck(valtechDeclareCheckForm(DeclareSelectId),
            args =  Map('_label -> Messages("valtechDeclareCheck.label"),
            '_showConstraints -> false,
            'autofocus -> true)
        )

        @valtechDeclareCheck(valtechDeclareCheckForm(DeclareSelectId),
            args =  Map('_label -> "I understand that I will lose the rights to this registration number when I confirm the sale",
            '_showConstraints -> false,
            'autofocus -> true,
            'tooltipText -> "If you have a personalised or private registration number on this vehicle that you want to keep, you must transfer or retain it before notifying the sale. If you notify the sale without doing this, you will lose the rights to the registration number."
            )
        )

        <div class="form-steps">
            <button id="submit" type="submit" name="action" class="button" aria-label="Next button">@Messages("valtechDeclareCheck.button")</button>
        </div>
    }
}
