@(valtechDateOfSaleForm: Form[uk.gov.dvla.vehicles.presentation.common.models.DateOfSaleModel])(implicit lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common
@import uk.gov.dvla.vehicles.presentation.common.models
@import uk.gov.dvla.vehicles.presentation.common.controllers
@import common.views.helpers.BaseTemplate.fieldConstructor
@import common.views.html.widgets.dates.valtechDate
@import views.html.helper.form

@main(title = Messages("dateOfSaleInput.pageTitle"),
currentForm = Some(valtechDateOfSaleForm)) {
@form(action = controllers.routes.DateOfSaleController.submit) {

@valtechDate(valtechDateOfSaleForm(models.DateOfSaleModel.Form.OptionalDateId), Messages("dateOfSaleInput.label"),
    args = Map(
    '_showConstraints -> false,
    'autofocus -> true
    )
)

@valtechDate(valtechDateOfSaleForm(models.DateOfSaleModel.Form.DateId), Messages("dateOfSaleInput.label"),
    Some("Changed hint"),
    showTodaysDateButton = true,
    args = Map(
    '_label -> "A required date",
    '_showConstraints -> false
    )
)


<div class="form-steps">
    <button id="submit"
            type="submit"
            name="action"
            class="button"
            aria-label="Next button">
        @Messages("valtechInputText.button")
    </button>
</div>
}
}
