@(valtechDeclareCheckForm: Form[uk.gov.dvla.vehicles.presentation.common.models.ValtechDeclareCheckModel])(implicit lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common
@import uk.gov.dvla.vehicles.presentation.common.models
@import uk.gov.dvla.vehicles.presentation.common.controllers
@import common.views.helpers.BaseTemplate.fieldConstructor
@import common.views.html.widgets.base.valtechDeclareCheck
@import models.ValtechDeclareCheckModel.Form.DeclareSelectId
@import views.html.helper.form

@main(
    title = Messages("valtechDeclareCheck.pageTitle"),
    currentForm = Some(valtechDeclareCheckForm)
) {
    @form(action = controllers.routes.ValtechDeclareCheckController.submit) {

        @valtechDeclareCheck(valtechDeclareCheckForm(DeclareSelectId),
            args =  Map('_label -> Messages("valtechDeclareCheck.label"),
            '_showConstraints -> false,
            'autofocus -> true)
        )

        @valtechDeclareCheck(valtechDeclareCheckForm(DeclareSelectId),
            args =  Map('_label -> Messages("valtechDeclareCheck.label"),
            '_showConstraints -> false,
            'autofocus -> true,
            'tooltipText -> Messages("valtechDeclareCheck.label"))
        )

        <div class="form-steps">
            <button id="submit" type="submit" name="action" class="button" aria-label="Next button">@Messages("valtechDeclareCheck.button")</button>
        </div>
    }
}
