@(exceptionDigest: String)(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import uk.gov.dvla.vehicles.presentation.common.views.helpers.CsrfHelper
@import mappings.disposal_of_vehicle.Error.SubmitId
@import views.html.disposal_of_vehicle.main
@import views.html.helper.form

@main(
    title = Messages("error.title")
){
    @form(action = controllers.routes.Error.submit(exceptionDigest)) {
        @CsrfHelper.hiddenFormField

        <div class="form-steps">
            <button id="@SubmitId" type="submit" name="action" class="button">@Messages("error.button")</button>
        </div>
    }
}