@()(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import views.disposal_of_vehicle.UprnNotFound.{ManualaddressbuttonId, SetuptradedetailsbuttonId}
@import views.html.disposal_of_vehicle.main

@main(
    title = Messages("disposal_uprnnotfound.title")
) {
    <p>@Messages("disposal_uprnnotfound.p1")</p>

    <div class="form-steps">
        @* Note the reverse routing syntax for the hyperlink *@
        <a class="button" id="@ManualaddressbuttonId" href="@controllers.routes.EnterAddressManually.present()">@Messages("disposal_uprnnotfound.setuptradedetailsbutton")</a>
        <a class="button-secondary" id="@SetuptradedetailsbuttonId" href="@controllers.routes.SetUpTradeDetails.present()">@Messages("disposal_uprnnotfound.manualaddressbutton")</a>
    </div>
}
