@(data: viewmodels.VehicleLookupFormViewModel,
        responseCodeVehicleLookupMSErrorMessage: String)(implicit lang: Lang,
        token: csrfprevention.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import mappings.disposal_of_vehicle.VehicleLookupFailure.{BeforeYouStartId, VehicleLookupId}
@import views.html.disposal_of_vehicle.main

@main(
    title = Messages("disposal_vehiclelookupfailure.title")
) {
    <p>@Messages(s"$responseCodeVehicleLookupMSErrorMessage.p1")</p>
    <p>@Messages(s"$responseCodeVehicleLookupMSErrorMessage.p2")</p>
    <p>@Messages(s"$responseCodeVehicleLookupMSErrorMessage.p3")</p>
    <br>

    @{/* Note primary button moved to first button as per https://www.gov.uk/service-manual/user-centered-design/resources/forms.html#buttons */}
    <div class="form-steps">
        @{ /* Note the reverse routing syntax for the hyperlink */ }
        <a class="button" id="@VehicleLookupId" href="@controllers.routes.VehicleLookup.present()">@Messages("disposal_vehiclelookupfailure.button")</a>
        <a class="button-secondary" id="@BeforeYouStartId" href="@controllers.routes.BeforeYouStart.present()">@Messages("disposal_vehiclelookupfailure.button2")</a>
    </div>
}
