@(field: play.api.data.Field,
        buttonId: String,
        buttonType: String = "submit",
        buttonName: String = "send-email",
        buttonClass: String = "button button-not-implemented button-inline",
        buttonAriaDisabled: String = "true",
        buttonText: Option[String] = None,
        hintText: Option[String] = None,
        args: Map[Symbol, Any])(implicit handler: helper.FieldConstructor, lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common.views
@import views.constraints.Required.RequiredField
@import play.api.templates.PlayMagic.toHtmlArgs
@import views.helpers.HtmlArgsExtensions.RichHtmlArgs
@import views.html.widgets.base.labelOrId
@import _root_.views.html.helper.input
@import views.html.widgets.base.valtechLabel
@import views.html.widgets.base.hintTextSnippet

@input(field, args.toSeq: _*) { (id, name, value, htmlArgs) =>
    @valtechLabel(field, args)

<input
id="@id"
name="@name"
value="@value"
    @toHtmlArgs(
        htmlArgs.withMaxLength.
                withoutAutoComplete.
                withAriaDescribedby(hintText, id).
                withTypeAttributeText.
                withAriaInvalid(field.hasErrors).
                withAriaRequired(field.constraints)
    )
>

<button id=@buttonId type=@buttonType name="@buttonName" class="@buttonClass" aria-disabled="@buttonAriaDisabled" disabled>
    @if(buttonText.isDefined) {@Html(buttonText.get)} else {
        @labelOrId(field.id, args)
    }
    </button>

    @hintTextSnippet(hintText, idOfRelatedInput = id)
}