@(field:Field, args: Map[Symbol, Any])(implicit lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common.views
@import uk.gov.dvla.vehicles.presentation.common.views.helpers.LabelHelper.optionalFieldKey
@import views.constraints.Required.RequiredField
@import views.html.widgets.base.labelOrId

<!-- This is an interim solution, the approach of checking the constraints is deprecated. -->
@labelOrId(field.id, args)
@if((!field.constraints.find(_._1 == RequiredField) && !args.contains('NO_OPTIONAL_LABEL))) {
    <span>@Messages("widget.optional")</span>
} else {
    @if(args.contains('optionalFieldKey) &&
        args.get('optionalFieldKey).get==true &&
        !args.contains('NO_OPTIONAL_LABEL)) {
        <span>@Messages("widget.optional")</span>
    }
}
