@(field: play.api.data.Field,
        buttonType: String = "submit",
        buttonName: String = "send-email",
        buttonClass: String = "button button-not-implemented button-inline",
        buttonAriaDisabled: String = "true",
        hintText: Option[String] = None,
        args: Map[Symbol, Any])(implicit handler: helper.FieldConstructor, lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common.views
@import views.constraints.Required.RequiredField
@import play.api.templates.PlayMagic.toHtmlArgs
@import views.helpers.HtmlArgsExtensions.RichHtmlArgs
@import views.html.widgets.base.labelOrId
@import _root_.views.html.helper.input
@import views.html.widgets.base.valtechLabel
@import views.html.widgets.base.hintTextSnippet

@input(field, args.toSeq:_*) { (id, name, value, htmlArgs) =>
    @valtechLabel(field, args)

    <input type="text"
        id="@id"
        name="@name"
        value="@value"
        @{if(field.constraints.find(_._1 == RequiredField)) "aria-required=true" else ""} @* TODO move this into an extension method and write unit tests *@
        @{if(field.hasErrors) "aria-invalid=true" else ""} @* TODO move this into an extension method and write unit tests *@
        @toHtmlArgs(htmlArgs.withMaxLength.withoutAutoComplete.withAriaDescribedby(hintText, id))
    >

    <button type=@buttonType name="@buttonName" class="@buttonClass" aria-disabled="@buttonAriaDisabled" disabled>
        @labelOrId(field.id,args)
    </button>

    @hintTextSnippet(hintText, idOfRelatedInput = id)
}
