@(field: play.api.data.Field,
  hintText: Option[String] = None,
  args: Map[Symbol, Any] = Map.empty)(implicit handler: helper.FieldConstructor, lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common.views
@import views.constraints.Required.RequiredField
@import play.api.templates.PlayMagic.toHtmlArgs
@import views.helpers.HtmlArgsExtensions.RichHtmlArgs
@import views.html.widgets.base.valtechLabel
@import _root_.views.html.helper.input



@input(field, args.toSeq:_*) { (id, name, value, htmlArgs) =>
    @valtechLabel(field, args)

        <input
            id="@id"
            name="@name"
            value="@value"
            @Html(
                if(htmlArgs.contains('typeTel)) """type=tel onkeypress="check(event, this);" """
                else if(htmlArgs.contains('typeFleetNumber)) """type=tel onkeyup="this.value=this.value.replace(/[^\d/-]/g,'')" onkeydown="this.value=this.value.replace(/[^\d/-]/g,'')" """
                else if(htmlArgs.contains('typeEmail)) """type=email"""
                else if(htmlArgs.contains('alphabeticalOnly)) """type=text onkeyup="this.value=this.value.replace(/[^a-zA-Z]/g,'')" onkeydown="this.value=this.value.replace(/[^a-zA-Z]/g,'')"  """
                else """type=text"""
            )
            @Html(htmlArgs.get('class).fold("")(classValue => s"""class="$classValue""""))

            @********************
            Accessibility section
            ********************@

            @* If field is required then show attribute aria-required=true *@
            @Html(if(field.constraints.exists({case (key, _) => key == RequiredField})) "aria-required=true" else "") @* TODO move this into an extension method and write unit tests *@
            @Html(if(field.hasErrors) "aria-invalid=true" else "") @* TODO move this into an extension method and write unit tests *@

            @*
            Screen readers do not automatically announce the hint text when focus moves to the field, and so screen reader users may be unaware of it as they tab through the form.
            Use the aria-describedby attribute to create an association between the hint and the field. It takes the id of the hint container as a value.
            *@
            @hintText.map { _ => aria-describedby="@{s"$id-hint"}" }

            @************************
            End accessibility section
            ************************@

            @toHtmlArgs(htmlArgs.withMaxLength.withoutAutoComplete)
        >

        @*
        Hint text.
        Appears below the input text field.
        The id should be the id of the field it relates to suffixed with "-hint" so that screen readers can associate them.
        *@
        @if(hintText.isDefined) {<span class="form-hint" id="@{s"$id-hint"}">@Html(hintText.get)</span>} else {Html("")}

  <script type="text/javascript">
  function check(evt, id) {

      var value = id.value;

      var theEvent = evt || window.event;
      if ( theEvent == null || theEvent == undefined) {
          return;
      }

      var key = theEvent.keyCode || theEvent.which;

      // Don't validate the input if below arrow, delete and backspace keys were pressed
      if(key == 37 || key == 39 || key == 8 || key == 9 || key == 46) { // Left / Right , Backspace, Tab, Delete keys
        return;
      }

      key = String.fromCharCode( key );
      var regex = /[0-9|/]/;

      if( !regex.test(key)) {
        theEvent.returnValue = false;

        if(theEvent.preventDefault)
            theEvent.preventDefault();
      }
  }
  </script>
}