@(field:Field, args: Map[Symbol, Any])(implicit lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common.views
@import views.helpers.Space
@import views.html.widgets.base.valtechLabelText

<label for="@field.id">
    @{Space.*}
    @valtechLabelText(field,args)
    @if(args.contains('tooltipImgSrc)) {
        <a href="?#@field.id" class="field-help js-only" data-tooltip="tooltip_@field.id" aria-hidden="true">
            <span class="field-help-icon">i</span>
            <span class="field-help-close" >Close</span>
        </a>
    }
</label>
