@(field: play.api.data.Field, hintText: Option[String] = None, args: Map[Symbol, Any])(implicit handler: helper.FieldConstructor, lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common.views
@import views.constraints.Required.RequiredField
@import play.api.templates.PlayMagic.toHtmlArgs
@import views.helpers.HtmlArgsExtensions.RichHtmlArgs
@import views.html.widgets.base.valtechLabel
@import _root_.views.html.helper.input
@import views.html.widgets.base.hintTextSnippet

@input(field, args.toSeq:_* ) { (id, name, value, htmlArgs) =>
    @valtechLabel(field,args)

    <input
        id="@id"
        name="@name"
        pattern="[0-9]{1,20}"
        title="Must be numbers only" @* TODO move this value into a constant *@
        value="@value"
        @toHtmlArgs(
            htmlArgs.withMaxLength.
                    withoutAutoComplete.
                    withAriaDescribedby(hintText, id).
                    withTypeAttributeTel.
                    withAriaInvalid(field.hasErrors).
                    withAriaRequired(field.constraints)
        )
    >

    @hintTextSnippet(hintText, idOfRelatedInput = id)
}
