@(field: play.api.data.Field,
  hintText: Option[String] = None,
  args: Map[Symbol, Any] = Map.empty)(implicit handler: helper.FieldConstructor, lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common.views
@import play.api.templates.PlayMagic.toHtmlArgs
@import views.helpers.HtmlArgsExtensions.RichHtmlArgs
@import views.html.widgets.base.valtechLabel
@import _root_.views.html.helper.input
@import views.html.widgets.base.hintTextSnippet

@input(field, args.toSeq:_*) { (id, name, value, htmlArgs) =>
    @valtechLabel(field, args)

    <textarea
        id="@id"
        name="@name"
        @Html(htmlArgs.get('class).fold("")(classValue => s"""class="$classValue""""))
        @toHtmlArgs(
            htmlArgs.withMaxLength.
                    withoutAutoComplete.
                    withAriaDescribedby(hintText, id).
                    withTypeAttributeText.
                    withAriaRequired(field.constraints)
        )
    >@value</textarea>

    @hintTextSnippet(hintText, idOfRelatedInput = id)
}
