@(field: play.api.data.Field, hintText: Option[String] = None, args: Map[Symbol, Any])(implicit handler: helper.FieldConstructor, lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common.views
@import views.constraints.Required.RequiredField
@import play.api.templates.PlayMagic.toHtmlArgs
@import views.helpers.HtmlArgsExtensions.RichHtmlArgs
@import views.html.widgets.base.valtechLabelText
@import _root_.views.html.helper.input
@import views.html.widgets.base.hintTextSnippet

@input(field, args.toSeq: _*) { (id, name, value, htmlArgs) =>
    <label class="form-checkbox selectable">
        <input
               id="@id"
               name="@name"
               @toHtmlArgs(
                   htmlArgs.valueElseTrue.
                           checkedWhenValueMatches(value).
                           withAriaDescribedby(hintText, id).
                           withTypeAttributeCheckbox.
                           withAriaInvalid(field.hasErrors).
                           withAriaRequired(field.constraints)
               )
        >
        @valtechLabelText(field,args)
        @if(args.contains('tooltipText)) {
            <a href="?#@id" class="field-help js-only toggle-element" data-target="#tooltip_@id" data-tooltip="tooltip_@id" aria-hidden="true">
                <span class="field-help-icon">i</span>
                <span class="field-help-close" >@Messages("close.label")</span>
            </a>
        }
    </label>

    @hintTextSnippet(hintText, idOfRelatedInput = id)

    @if(args.contains('tooltipText)) {
        <div class="field-help-content no-js-only" id="tooltip_@id" data-tooltip="tooltip_@id">
            <div class="panel-indent-wrapper">
                <div class="panel-indent">
                    <p>@args('tooltipText)</p>
                </div>
            </div>
        </div>
    }
}
