@(field: play.api.data.Field,
  hintText: Option[String] = None,
  args: Map[Symbol, Any] = Map.empty)(implicit handler: helper.FieldConstructor, lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common.views
@import views.constraints.Required.RequiredField
@import play.api.templates.PlayMagic.toHtmlArgs
@import views.helpers.HtmlArgsExtensions.richHtmlArgs
@import views.html.widgets.base.valtechLabel
@import _root_.views.html.helper.input

@input(field, args.toSeq:_*) { (id, name, value, htmlArgs) =>
    @valtechLabel(field, args)

    @if(hintText.isDefined) {
        <span class="form-hint">@hintText.get</span>
    }

    <input 
        id="@id"
        name="@name"
        value="@value"
        @Html(
            if(htmlArgs.contains('typeTel)) """type=tel onkeyup="this.value=this.value.replace(/[^\d/]/g,'')" onkeydown="this.value=this.value.replace(/[^\d/]/g,'')" """
            else if(htmlArgs.contains('typeFleetNumber)) """type=text onkeyup="this.value=this.value.replace(/[^\d/-]/g,'')" onkeydown="this.value=this.value.replace(/[^\d/-]/g,'')" """
            else if(htmlArgs.contains('typeEmail)) """type=email"""
            else """type=text"""
        )
        @Html(htmlArgs.get('class).fold("")(classValue => s"""class="$classValue""""))
        @{if(field.constraints.find(_._1 == RequiredField)) "aria-required=true" else ""} @* TODO move this into an extension method and write unit tests *@
        @{if(field.hasErrors) "aria-invalid=true" else ""} @* TODO move this into an extension method and write unit tests *@
        @toHtmlArgs(htmlArgs.maxLengthRules.autoCompleteRules)
    >
}
