@(field: play.api.data.Field,
    years: Seq[(String, String)],
    args: Map[Symbol, Any] = Map.empty,
    dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService,
    showTodaysDateButton: Boolean = false,
    showTodaysDateButtonId: Option[String] = None)(implicit handler: views.html.helper.FieldConstructor, lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common.views
@import views.html.widgets.dates.datePlaceholder
@import _root_.views.html.helper.input

@input(field, args.toSeq: _*) { (id, name, value, htmlArgs) =>
    @datePlaceholderTextbox(field, id, years, args, dateService, showTodaysDateButton, showTodaysDateButtonId)
}