@(field: play.api.data.Field, labelText: String, hintText: Option[String] = None, args: Map[Symbol, Any] = Map.empty)(implicit handler: views.html.helper.FieldConstructor, lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common.views
@import play.api.templates.PlayMagic.toHtmlArgs
@import views.helpers.HtmlArgsExtensions.RichHtmlArgs
@import views.html.widgets.base.valtechLabel
@import views.html.widgets.base.valtechInputText
@import _root_.views.html.helper.input
@import uk.gov.dvla.vehicles.presentation.common.mappings.Date.{DayId, MonthId, YearId}
@import views.html.widgets.base.hintTextSnippet

@input(field, args.toSeq:_*) { (id, name, value, htmlArgs) =>
    @valtechLabel(field, Map('_label -> labelText) ++ args)

    <div class="form-inline form-date">
        <div class="form-item">
        @valtechInputText(
          field(DayId),
          None,
          args = Map(
            '_label -> Messages("dateOfBirth.day"),
            '_showConstraints -> false,
            'typeTel -> true,
            'maxLength -> 2,
            'NO_OPTIONAL_LABEL -> true,
            'class -> "day"
          ).withAriaDescribedby(hintText, id)
        )
        @valtechInputText(
          field(MonthId),
          None,
          args = Map(
            '_label -> Messages("dateOfBirth.month"),
            '_showConstraints -> false,
            'typeTel -> true,
            'maxLength -> 2,
            'NO_OPTIONAL_LABEL -> true,
            'class -> "month"
          )
        )
        @valtechInputText(
          field(YearId),
          None,
          args = Map(
            '_label -> Messages("dateOfBirth.year"),
            '_showConstraints -> false,
            'typeTel -> true,
            'maxLength -> 4,
            'NO_OPTIONAL_LABEL -> true,
            'class -> "year"
          )
        )
        </div>

        @hintTextSnippet(hintText, idOfRelatedInput = id)
    </div>
}
