@(field: play.api.data.Field, errorFlag: String = "")(implicit handler: helper.FieldConstructor, lang: Lang)

@import _root_.views.html.helper.input
@import uk.gov.dvla.vehicles.presentation.common
@import common.mappings.AddressPicker.{AddressLine1Id, AddressLine2Id, AddressLine3Id, PostTownId, PostcodeId, RememberId, ShowAddressFields, ShowSearchFields}
@import common.views.html.widgets.base.valtechDeclareCheck

@input(field) { (id, name, value, htmlArgs) =>
<!-- Address Lookup Wrapper -->
<div id="@id" class="address-lookup-wrapper">
    @helper.input(field(ShowAddressFields)) { (id, name, value, args) =>
    <input id="@id" type="hidden" name="@name" value="@value" class="js-hidden-show-address-fields"/>
    }
    @helper.input(field(ShowSearchFields)) { (id, name, value, args) =>
    <input id="@id" type="hidden" name="@name" value="@value" class="js-hidden-show-search-fields"/>
    }
    <!-- Lookup Input Wrapper - ONLY JS -->
    <div class="postcode-lookup-container form-item no-js-hidden">
        <div class="left-col">
            <label class="no-js-hidden" for="address-postcode-lookup">@Messages("address.picker.common.postcode")</label>
        </div>
        <div class="right-col">
            <input class="no-js-hidden" id="address-postcode-lookup" name="address-postcode-lookup" placeholder="@Messages("address.picker.common.postcode")" value="" maxlength="58" autocomplete="off" type="text" aria-required="true">
            <div class="address-find-wrapper">
                <button id="address-find" type="button" name="action" class="button button-secondary no-js-hidden">@Messages("address.picker.common.findAddress")</button>
                <span class="address-manual-toggle no-js-hidden">@Messages("address.picker.common.manualAddress")</span>
            </div>
        </div>
    </div>
    <!-- end of Lookup Input Wrapper -->

    <!-- Lookup Input Wrapper - ONLY JS -->
    <div class="address-list-wrapper">
        <div class="form-item no-js-hidden">
            <label for="address-list">@Messages("address.picker.common.pickAddress")</label>
            <select id="address-list" name="address-list" type="text" aria-required="true" data-select-hint="@Messages("address.picker.common.pleaseSelect")">
            </select>
        </div>
    </div>
    <!-- end of Lookup Input Wrapper-->
    <p class="ajax-error missing-postcode">@Messages("address.picker.common.postCodeNotFound")</p>
    <p class="ajax-error server-message">@Messages("address.picker.common.serverError")<span></span></p>

    <!-- Address Form Wrapper -  JS ON/OFF -->
    <div class="address-manual-inputs-wrapper"  data-address-status="@errorFlag">

        <!-- Street Inputs -->
        @helper.input(field(AddressLine1Id)) { (id, name, value, args) =>
        <div class="form-item">
            <div class="left-col">
                <label for="address-street">@Messages("address.picker.common.street")</label>
            </div>
            <div class="right-col">

                <input id="@id" name="@name" value="@value" class="address-street-first" data-form="@id" placeholder="@Messages("address.picker.common.streetNameNumber")"  maxlength="58" autocomplete="off" type="text" aria-required="true">

                @helper.input(field(AddressLine2Id)) { (id, name, value, args) =>
                <input id="@id" name="@name" class="address-street-second" data-form="@id"  value="@value" maxlength="58" autocomplete="off" type="text" aria-required="fals">
                }
                @helper.input(field(AddressLine3Id)) { (id, name, value, args) =>
                <input id="@id" name="@name"  class="address-street-third" data-form="@id" value="@value" maxlength="58" autocomplete="off" type="text" aria-required="false">
                }
            </div>
        </div>
        }
        <!-- end of Street Inputs -->

        <!-- Town Input -->
        @helper.input(field(PostTownId)) { (id, name, value, args) =>
        <div class="form-item">
            <div class="left-col">
                <label for="address-town">@Messages("address.picker.common.townCity")</label>
            </div>
            <div class="right-col">
                <input id="@id" name="@name" class="address-town" data-form="@id" placeholder="@Messages("address.picker.common.townOrCity")" value="@value" maxlength="58" autocomplete="off" type="text" aria-required="true">
            </div>
        </div>
        }
        <!-- end of Town Input -->

        <!-- Postcode Input -->
        @helper.input(field(PostcodeId)) { (id, name, value, args) =>
        <div class="form-item">
            <div class="left-col">
                <label for="address-postcode">@Messages("address.picker.common.postcode")</label>
            </div>
            <div class="right-col">
                <input id="@id" name="@name" class="address-postcode" data-form="@id" placeholder="@Messages("address.picker.common.postcode")" value="@value" maxlength="58" autocomplete="off" type="text" aria-required="true">
            </div>
        </div>
        }
        <!-- end of Postcode Input -->

        <!-- Remember Details Input -->
        <div class="form-item">
            <div class="left-col">

            </div>
            <div class="right-col">
                @valtechDeclareCheck(
                    field(RememberId),
                    args =  Map('_label -> Messages("address.picker.common.rememberDetails"),
                        '_showConstraints -> false,
                        'NO_OPTIONAL_LABEL -> true
                    )
                )
                <!-- Clear Form Call To Action - ONLY JS -->
                <span class="address-reset-form no-js-hidden" href="#address-postcode-lookup">@Messages("address.picker.common.changeDetails")</span>
                <!-- end of Clear Form Call To Action-->
            </div>
        </div>
        <!-- end of  Remember Details Input -->
    </div>
    <!-- end of Address Form Wrapper-->

</div>
<!-- end of Address Lookup Wrapper -->
}
