@(field: play.api.data.Field, args: Map[Symbol, Any])(implicit lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common.views
@import views.helpers.BaseTemplate.fieldConstructor
@import views.html.widgets.base.{valtechInputText, valtechLabelText}
@import views.models.AddressLinesViewModel.Form.{BuildingNameOrNumberId, Line2Id, Line3Id, PostTownId, LineMaxLength}
@import _root_.views.html.helper.input

@input(field,args.toSeq: _*){(id, name, value, htmlArgs) =>
<legend>@valtechLabelText(field, args)</legend>
    <div id="@id">
        <div class="form-item">
            @valtechInputText(field(BuildingNameOrNumberId),
            hintText = Some(Messages("address.buildingNameOrNumber.hint")),
            args = Map(
                '_label -> Messages("address.buildingNameOrNumber.label"),
                'placeholder -> Messages("address.buildingNameOrNumber.label"),
                '_showConstraints -> false,
                'maxLength -> LineMaxLength.toString,
                //'title -> Messages("address.buildingNameOrNumber.label"),
                'showErrors -> false))
        </div>
        <div class="form-item">
            @valtechInputText(field(Line2Id),
            args = Map(
                '_label -> Messages("address.line2.label"),
                'placeholder -> Messages("address.line2.label"),
                '_showConstraints -> false,
                'maxLength -> LineMaxLength.toString,
                'title -> Messages("")))
        </div>
        <div class="form-item">
            @valtechInputText(field(Line3Id),
            args = Map(
                '_label -> Messages("address.line3.label"),
                'placeholder -> Messages("address.line3.label"),
                '_showConstraints -> false,
                'maxLength -> LineMaxLength.toString,
                'title -> Messages("")))
        </div>
        <br>
        <div class="form-item post-town">
            @if(args.contains('_postTownMaxLength)) {
                @valtechInputText(field(PostTownId),
                args = Map(
                    '_label -> Messages("addressAndPostcode.addressLines.postTown"),
                    '_showConstraints -> false,
                    'maxLength -> args('_postTownMaxLength),
                    //'title -> Messages("address.buildingNameOrNumber.label"),
                    'showErrors -> false))
            } else {
                @valtechInputText(field(PostTownId),
                args = Map(
                    '_label -> Messages("addressAndPostcode.addressLines.postTown"),
                    '_showConstraints -> false,
                    'maxLength -> LineMaxLength.toString,
                    //'title -> Messages("address.buildingNameOrNumber.label"),
                    'showErrors -> false))
            }
        </div>
    </div>
}
