@(field: play.api.data.Field, errorFlag: String = "")(implicit handler: helper.FieldConstructor, lang: Lang)

@import _root_.views.html.helper.input
@import uk.gov.dvla.vehicles.presentation.common
@import common.mappings.AddressPicker.{AddressLine1Id, AddressLine2Id, AddressLine3Id, PostTownId, PostcodeId, RememberId}
@import common.views.html.widgets.base.valtechDeclareCheck

@input(field) { (id, name, value, htmlArgs) =>
<!-- Address Lookup Wrapper -->
<div id="@id" class="address-lookup-wrapper">

    <!-- Lookup Input Wrapper - ONLY JS -->
    <div class="postcode-lookup-container form-item no-js-hidden">
        <div class="left-col">
            <!-- TODO: replace messages with variables -->
            <label class="no-js-hidden" for="address-postcode-lookup">Postcode</label>
        </div>
        <div class="right-col">
            <input class="no-js-hidden" id="address-postcode-lookup" name="address-postcode-lookup" placeholder="Postcode" value="" maxlength="58" autocomplete="off" type="text" aria-required="true">
            <div class="address-find-wrapper">
                    <!-- TODO: replace messages with variables -->
                <button id="address-find" type="button" name="action" class="button button-secondary no-js-hidden">Find UK address</button>
                <a class="address-manual-toggle no-js-hidden" href="#address-picker-1_address-line-1">Enter address manually</a>
            </div>
        </div>
    </div>
    <!-- end of Lookup Input Wrapper -->

    <!-- Lookup Input Wrapper - ONLY JS -->
    <div class="address-list-wrapper">
        <div class="form-item no-js-hidden">
            <!-- TODO: replace messages with variables -->
            <label for="address-list">Pick an address</label>
            <select id="address-list" name="address-list" type="text" aria-required="true" data-ajax="false">
                <option value="">Please select</option>
            </select>
        </div>
    </div>
    <!-- end of Lookup Input Wrapper-->
    <!-- TODO: replace messages with variables -->
    <p class="ajax-error missing-postcode">Postcode not found</p>
    <p class="ajax-error server-message">Error from the server: <span></span></p>

    <!-- Address Form Wrapper -  JS ON/OFF -->
    <!-- TODO: data-address-status needs to be generated via back-end fails in order to display the form if validation fails -->
    <div class="address-manual-inputs-wrapper" data-address-status="@errorFlag">

        <!-- Street Inputs -->

        @helper.input(field(AddressLine1Id)) { (id, name, value, args) =>
        <div class="form-item">
            <div class="left-col">
                <!-- TODO: replace messages with variables -->
                <label for="address-street">Street</label>
            </div>

            <div class="right-col">
                <input id="@id" name="@name" value="@value" placeholder="Street name and number"  maxlength="58" autocomplete="off" type="text" aria-required="true">

                @helper.input(field(AddressLine2Id)) { (id, name, value, args) =>
                <input id="@id" name="@name"  value="@value" maxlength="58" autocomplete="off" type="text" aria-required="fals">
                }
                @helper.input(field(AddressLine3Id)) { (id, name, value, args) =>
                <input id="@id" name="@name"  value="@value" maxlength="58" autocomplete="off" type="text" aria-required="false">
                }
            </div>
        </div>
        }

        <!-- end of Street Inputs -->

        <!-- Town Input -->
        @helper.input(field(PostTownId)) { (id, name, value, args) =>
        <div class="form-item">
            <div class="left-col">
                <!-- TODO: replace messages with variables -->
                <label for="address-town">Town/City</label>
            </div>
            <div class="right-col">
                <input id="@id" name="@name" placeholder="Town or City" value="@value" maxlength="58" autocomplete="off" type="text" aria-required="true">
            </div>
        </div>
        }
        <!-- end of Town Input -->

        <!-- Postcode Input -->
        @helper.input(field(PostcodeId)) { (id, name, value, args) =>
        <div class="form-item">
            <div class="left-col">
                <label for="address-postcode">Postcode</label>
            </div>
            <div class="right-col">
                <input id="@id" name="@name" placeholder="Postcode" value="@value" maxlength="58" autocomplete="off" type="text" aria-required="true">
            </div>
        </div>
        }
        <!-- end of Postcode Input -->

        <!-- Remember Details Input -->
        <div class="form-item">
            <div class="left-col">

            </div>
            <div class="right-col">
                @valtechDeclareCheck(
                    field(RememberId),
                    args =  Map('_label -> "Remember these details",
                        '_showConstraints -> false,
                        'NO_OPTIONAL_LABEL -> true
                    )
                )
                <!--helper.input(field(RememberId)) { (id, name, value, args) =>
                <label class="form-checkbox selectable">
                    <input id="remindAddressDetails" name="@name" value="@value" type="checkbox" aria-required="true">
                    Remember these details
                </label>
                }-->
                <!-- Clear Form Call To Action - ONLY JS -->
                <!-- TODO: replace messages with variables -->
                <a class="address-reset-form no-js-hidden" href="#address-postcode-lookup">Change my details</a>
                <!-- end of Clear Form Call To Action-->
            </div>
        </div>
        <!-- end of  Remember Details Input -->
    </div>
    <!-- end of Address Form Wrapper-->

</div>
<!-- end of Address Lookup Wrapper -->
}
