@(field: play.api.data.Field,
  labelText: String,
  hintText: Option[String] = None,
  args: Map[Symbol, Any] = Map.empty)(implicit handler: views.html.helper.FieldConstructor, lang: Lang)

@import _root_.views.html.helper.input
@import uk.gov.dvla.vehicles.presentation.common.views
@import views.html.widgets.base.valtechLabel
@import views.html.widgets.base.valtechInputText
@import uk.gov.dvla.vehicles.presentation.common.mappings.Email.{EmailId, EmailVerifyId}

@input(field) { (id, name, value, htmlArgs) =>

    @valtechInputText(
        field(EmailId),
        hintText = hintText,
        args =  Map(
            '_label -> Messages("email.label"),
            '_showConstraints -> false,
            'NO_OPTIONAL_LABEL -> true,
            'typeEmail -> true
        )
    )

    @valtechInputText(
        field(EmailVerifyId),
        args =  Map(
            '_label -> Messages("email.verify.label"),
            '_showConstraints -> false,
            'NO_OPTIONAL_LABEL -> true,
            'typeEmail -> true,
            'class -> "js-email-confirm"
        )
    )

}
