@(feedbackForm: Form[uk.gov.dvla.vehicles.presentation.common.model.FeedbackForm])(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        controls: Map[String, Call])

@import views.html.helper.form
@import uk.gov.dvla.vehicles.presentation.common
@import common.views.html.widgets.base.csrfTokenHiddenField
@import common.views.html.widgets.base.valtechInputTextArea
@import common.views.html.widgets.radioListPlaceholder
@import common.mappings.Email.EmailMaxLength
@import common.model.FeedbackForm.Form.{feedback, rating}
@import common.views.helpers.BaseTemplate.fieldConstructor

@form(action = controls("submit")) {
  @csrfTokenHiddenField()
  @alertWarning() {
    <p><strong>@Messages("common_feedback.warning")</strong></p>
  }

  <p>@Messages("common_feedback.message")</p>

  <div id="feedback-form">
    <div>
      <label for="@rating">@Messages("common_feedback.rating.label")</label>
      @radioListPlaceholder(field = feedbackForm(rating),
        options = Seq("5" -> Messages("common_feedback.rating.5"),
                      "4" -> Messages("common_feedback.rating.4"),
                      "3" -> Messages("common_feedback.rating.3"),
                      "2" -> Messages("common_feedback.rating.2"),
                      "1" -> Messages("common_feedback.rating.1")
        ), args = Map.empty)
    </div>
    <div>
      @valtechInputTextArea(feedbackForm(feedback),
        showCharacterCountdown = true,
        args = Map(
          '_label -> Messages("common_feedback.feedback.label"),
          '_showConstraints -> false,
          'maxLength -> "500",
          'showErrors -> true))
    </div>
  </div>

  <div class="form-steps">

    <button id="submit" type="submit" name="action" class="button">
    @Messages("common_feedback.submit_button")
    </button>

  </div>
}
