@(opening: String,
  closing: String,
  tryAgainTarget: play.api.mvc.Call,
  exitTarget: play.api.mvc.Call
)(implicit lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common.views.widgets.MicroServiceError.{TryAgainId, ExitId}

<h1>@Messages("micro_service_error.title")</h1>

<p>@Messages("micro_service_error.text1")</p>
<p>@Messages("micro_service_error.text2", opening, closing)</p>

<div class="form-steps">
@* Note the reverse routing syntax for the hyperlink *@
<a class="button" id="@TryAgainId" href="@tryAgainTarget">
    @Messages("micro_service_error.back.button")
</a>
<br/>
<a class="exit" id="@ExitId" href="@exitTarget">
    @Messages("micro_service_error.exit.button")
</a>
</div>
