@(field: play.api.data.Field,
  title: String,
  visibleLabel: String,
  invisibleLable: String,
  optionalField: => play.twirl.api.HtmlFormat.Appendable)(implicit handler: helper.FieldConstructor, lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common.mappings.OptionalToggle.{Visible, Invisible, OptionFieldSuffix}
@import _root_.views.html.helper.input

@input(field) { (id, name, value, htmlArgs) =>
<div class="expandable-optional" id="@id-group">
    <div class="form-item">
        <fieldset>
            <legend>@title</legend>
            <div class="radio">
                <div class="form-item">
                    <label for="@(s"${id}_$Visible")" class="form-radio selectable">
                        <input class="option-visible toggle-element" data-target="#@(s"${id}${OptionFieldSuffix}")" name="@name" value="@Visible" showerrors="false" type="radio"
                               aria-required="true" @(if(value == Some(Visible)) "checked" else "")

                                id="@(s"${id}_$Visible")">
                        <span class="text">@visibleLabel</span>
                    </label>
                    <label for="@(s"${id}_$Invisible")" class="form-radio selectable">
                        <input class="option-invisible toggle-element" data-target="#@(s"${id}${OptionFieldSuffix}")"  name="@name" value="@Invisible" showerrors="false" type="radio"
                               aria-required="true" @(if(value == Some(Invisible)) "checked" else "") id="@(s"${id}_$Invisible")" >
                        <span class="text">@invisibleLable</span>
                    </label>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="optional-field no-js-only" id="@(s"${id}${OptionFieldSuffix}")">
        <div class="panel-indent-wrapper">
            <div class="panel-indent">
                @optionalField
            </div>
        </div>
    </div>
</div>
}
