@(openingTimeMins: Int, closingTimeMins: Int, closingWarnPeriodMins: Int)(implicit lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common.services.ServiceClosingWarning

@*
The service closing warning is only displayed when the current time is within a specified period.
The message changes when the time is less than 5 minutes. In this case the time remaining is displayed and will
be updated when the page is refreshed.
In case javascript is enabled, there is a countdown function that will refresh the timers and once the
the service is closed, it will change the message to global.serviceClosed.
*@
@ServiceClosingWarning.warning(closingTimeMins, closingWarnPeriodMins).map { timeRemaining =>
    <div class="serviceClosingWarning
    @if(timeRemaining <= "00:05.00") {
        final-closing-warning
    } else { closing-warning }">
        <p class="serviceClosing">@Messages(
            "global.serviceCloseWarning",
            ServiceClosingWarning.formatMinutes(openingTimeMins),
            ServiceClosingWarning.formatMinutes(closingTimeMins)
        )
            <span class="count-down-wrapper">
                <span class="js-minutes-left">@{
                    timeRemaining.dropWhile(_ != ':').drop(1).takeWhile(_ != '.')
                }</span>:<span class="js-seconds-left">@{
                    timeRemaining.dropWhile(_ != '.').drop(1)
                }</span>
            </span>
            @Messages("global.serviceCloseWarning.p2")
        </p>
        <p class="serviceClosed"> @Messages("global.serviceClosed",
          ServiceClosingWarning.formatMinutes(openingTimeMins),
          ServiceClosingWarning.formatMinutes(closingTimeMins))</p>
    </div>
}
