@(openingHour: Int, closingHour: Int, closingWarnPeriodMins: Int, dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService)(implicit lang: Lang)

@import org.joda.time.DateTime
@import org.joda.time.DateTimeZone
@import uk.gov.dvla.vehicles.presentation.common.services.ServiceClosingWarningV2

@*
The service closing warning is only displayed when the current time is within a specified period.
The message changes when the time is less than 5 minutes. In this case the time remaining is displayed and will
be updated when the page is refreshed.
*@
@ServiceClosingWarningV2.warning(closingHour, closingWarnPeriodMins).map { timeRemaining =>
    <div class="serviceClosingWarning
    @if(timeRemaining <= "00:05.00") {
        final-closing-warning
    } else { closing-warning }">
        <p class="serviceClosing">@Messages(
            "global.serviceCloseWarning",
            openingHour,
            closingHour
        )
            <span class="js-minutes-left">@{
                timeRemaining.dropWhile(_ != ':').drop(1).takeWhile(_ != '.')
            }</span>:<span class="js-seconds-left">@{
                timeRemaining.dropWhile(_ != '.').drop(1)
            }</span>
            @Messages("global.serviceCloseWarning.p2")
        </p>
        <p class="serviceClosed"> @Messages("global.serviceClosed", openingHour, closingHour)</p>
    </div>
}