@(closingHour: Int, closingWarnPeriodMins: Int, dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService)(implicit lang: Lang)

@if(dateService.now.isAfter(
    new org.joda.time.DateTime(
        dateService.now.toDateTime.getYear,
        dateService.now.toDateTime.getMonthOfYear,
        dateService.now.toDateTime.getDayOfMonth,
        if (closingHour > 0) closingHour - 1 else closingHour, 59).minus(closingWarnPeriodMins * 60 * 1000)
) && dateService.now.isBefore(
    new org.joda.time.DateTime(
        dateService.now.toDateTime.getYear,
        dateService.now.toDateTime.getMonthOfYear,
        dateService.now.toDateTime.getDayOfMonth,
        if (closingHour > 0) closingHour - 1 else closingHour, 59, 59)
)) {
    <div class="serviceClosingWarning">
        <p>
            @Messages("global.serviceCloseWarning",
                dateService.now.toString(org.joda.time.format.DateTimeFormat.forPattern("HH:mm:ss")),
                closingHour
            )
        </p>
    </div>
}
