@(cookiePolicyLink: Call,
  opening: String,
  closing: String,
  lastDay: String)(implicit lang: Lang)

<h1>@Messages("tandc.tandc.header")</h1>
<p>@Messages("tandc.tandc.p1")</p>
<h2>@Messages("tandc.use_of_website.header")</h2>
<p>@Messages("tandc.use_of_website.p1")</p>
<p>@Messages("tandc.use_of_website.p2", opening, closing, lastDay)</p>
<h2>@Messages("tandc.hyperlinking.header")</h2>
<p>@Messages("tandc.hyperlinking.p1")</p>
<h2>@Messages("tandc.payment_cards.header")</h2>
<p>@Messages("tandc.payment_cards.p1")</p>
<h2>@Messages("tandc.data_protection_act.header")</h2>
<p>@Messages("tandc.data_protection_act.p1")</p>
<p>@Messages("tandc.data_protection_act.p2")</p>
<p>@Messages("tandc.data_protection_act.p3")</p>
<p>@Messages("tandc.data_protection_act.p4")</p>
<h2>@Messages("tandc.site_usage_information.header")</h2>
<p>@Messages("tandc.site_usage_information.p1")</p>
<h2>@Messages("tandc.online_cookies_policies.header")</h2>
<p>@Messages("tandc.online_cookies_policies.p1")</p>
<p>@Messages("tandc.online_cookies_policies.p2")</p>
<p>@Messages("tandc.online_cookies_policies.p3")</p>
<p>@Html(Messages("tandc.online_cookies_policies.p4", cookiePolicyLink))</p>
<h2>@Messages("tandc.disclaimer.header")</h2>
<p>@Messages("tandc.disclaimer.p1")</p>
<p>@Messages("tandc.disclaimer.p2")</p>
<ul>@Messages("tandc.disclaimer.list1").split(",").map { (v) => <li>@v</li> }</ul>
<p>@Messages("tandc.disclaimer.p3")</p>
<p>@Messages("tandc.disclaimer.p4")</p>
<h2>@Messages("tandc.virus_protection.header")</h2>
<p>@Messages("tandc.virus_protection.p1")</p>
<p>@Messages("tandc.virus_protection.p2")</p>
<h2>@Messages("tandc.virus_hacking_other_offences.header")</h2>
<p>@Messages("tandc.virus_hacking_other_offences.p1")</p>
<p>@Messages("tandc.virus_hacking_other_offences.p2")</p>
<h2>@Messages("tandc.copyright_and_reproduction.header")</h2>
<p>@Html(Messages("tandc.copyright_and_reproduction.p1"))</p>
<p>@Messages("tandc.copyright_and_reproduction.p2")</p>
<p>@Messages("tandc.copyright_and_reproduction.p3")</p>
<h2>@Messages("tandc.changes.header")</h2>
<p>@Messages("tandc.changes.p1")</p>
<h2>@Messages("tandc.amendments_to_tandc.header")</h2>
<p>@Messages("tandc.amendments_to_tandc.p1")</p>
<h2>@Messages("tandc.severability.header")</h2>
<p>@Messages("tandc.severability.p1")</p>
<h2>@Messages("tandc.events_beyond_dvla_control.header")</h2>
<p>@Messages("tandc.events_beyond_dvla_control.p1")</p>
<p>@Messages("tandc.events_beyond_dvla_control.p2")</p>
<h2>@Messages("tandc.governing_law.header")</h2>
<p>@Messages("tandc.governing_law.p1")</p>
<p>@Html(Messages("tandc.last_updated"))</p>
