@(field: play.api.data.Field, hintText: String = "", args: Map[Symbol, Any] = Map.empty)(implicit handler: views.html.helper.FieldConstructor, lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common.views
@import views.html.widgets.base.valtechLabel
@import views.html.widgets.base.valtechInputText
@import _root_.views.html.helper.input
@import uk.gov.dvla.vehicles.presentation.common
@import common.mappings.Date.{DayId, MonthId, YearId}
@import common.views.html.widgets.listRadioGroup
@import views.constraints.Required.RequiredField
@import common.mappings.TitlePickerString.{TitleRadioKey, MaxOtherTitleLength, TitleTextKey, OtherTitleRadioValue, standardOptions}

@input(field, args.toSeq:_*) { (id, name, value, htmlArgs) =>
  @valtechLabel(field, Map('_label -> Messages("titlePicker.label")) ++ args)
    @listRadioGroup(
        field = field(TitleRadioKey).copy(constraints = Seq(RequiredField -> Seq[Any]())),
        args = args ++ Map(
            '_label -> "",
            'items -> standardOptions.map(opt => (standardOptions.indexOf(opt) + 1).toString -> Messages(opt))
        )
    )
    <div class="toggle-form-item">
        @listRadioGroup(
            field = field(TitleRadioKey).copy(constraints = Seq(RequiredField -> Seq[Any]())),
            args = Map(
                '_label -> "",
                'items -> Seq(OtherTitleRadioValue.toString -> Messages("titlePicker.other"))
            )
        )
    </div>
    @valtechInputText(
        field = field(TitleTextKey).copy(constraints = Seq(RequiredField -> Seq[Any]())),
        hintText = Some(Messages("titlePicker.textHint")),
        args =  Map(
            '_label -> Messages("titlePicker.textLabel"),
            '_showConstraints -> false,
            'maxLength -> MaxOtherTitleLength
          )
        )
    <span class="form-hint">@hintText</span>
}
