@(emailForm: Form[models.EmailModel])(implicit lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common
@import common.views.helpers.BaseTemplate.fieldConstructor
@import common.views.html.widgets.base.valtechInputText
@import models.EmailModel.Form.EmailId
@import views.html.helper.form

@main(
    title = Messages(Messages("email.pageTitle")),
    currentForm = Some(emailForm)
) {
    @form(action = controllers.routes.EmailController.submit) {

        @valtechInputText(emailForm(EmailId),
        hintText = Some(Messages("email.hint")),
        args =  Map('_label -> Messages("email.label"),
        '_showConstraints -> false,
        'autofocus -> true)
        )

    <div class="form-steps">
            <button id="submit" type="submit" name="action" class="button" aria-label="Next button">@Messages("email.button")</button>
    </div>
    }
}