@()(implicit lang: Lang)

@main(Messages("index.title")) {
    <ul>
        <li><a href="@controllers.routes.ValtechInputTextController.present">Valtech Input Text</a></li>
        <li><a href="@controllers.routes.ValtechInputDigitsController.present">Valtech Input Digits</a></li>
        <li><a href="@controllers.routes.ValtechDeclareCheckController.present">Valtech Declare Check</a></li>
        <li><a href="@controllers.routes.ValtechSelectController.present">Valtech Select</a></li>
        <li><a href="@controllers.routes.ValtechInputDayMonthYearController.present">Valtech Input Day Month Year</a></li>
        <li><a href="@controllers.routes.ValtechInputDayMonthYearTextboxController.present">Valtech Input Day Month Year Textbox</a></li>
        <li><a href="@controllers.routes.ValtechRadioController.present">Valtech Radio</a></li>
        <li><a href="@controllers.routes.V5cRegistrationNumberController.present">V5c Registration Number</a></li>
        <li><a href="@controllers.routes.PostcodeController.present">Postcode Capture</a></li>
        <li><a href="@controllers.routes.EmailController.present">Email Capture</a></li>
        <li><a href="@controllers.routes.BusinessNameController.present">Business name</a></li>
        <li><a href="@controllers.routes.DateController.present">Date</a></li>
        <li><a href="@controllers.routes.DateOfSaleController.present">Date Of Sale</a></li>
        <li><a href="@controllers.routes.MileageController.present">Mileage</a></li>
        <li><a href="@controllers.routes.TitlePickerController.present">Title picker</a></li>
    </ul>
}