@(titlePickerForm: Form[models.TitlePickerModel])(implicit lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common
@import common.views.helpers.BaseTemplate.fieldConstructor
@import common.views.html.widgets.listRadioGroup
@import models.TitlePickerModel.Form.TitleId
@import views.html.helper.form
@import common.views.html.widgets.titlePicker

@main(
    title = Messages("titlePicker.pageTitle"),
    currentForm = Some(titlePickerForm)
) {
    @form(action = controllers.routes.TitlePickerController.submit) {
        @titlePicker(field = titlePickerForm(TitleId))

        <div class="form-steps">
            <button id="submit" type="submit" name="action" class="button" aria-label="Next button">
                @Messages("titlePicker.button")
            </button>
        </div>
    }
}
