@(titlePickerForm: Form[models.TitlePickerModel])(implicit lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common
@import common.views.helpers.BaseTemplate.fieldConstructor
@import common.views.html.widgets.listRadioGroup
@import models.TitlePickerModel.Form.TitleId
@import views.html.helper.form
@import views.TitlePickerView.{Title_Mr, Title_Miss, Title_Mrs, Title_Other}

@main(
    title = Messages("titlePicker.pageTitle"),
    currentForm = Some(titlePickerForm)
) {
    @form(action = controllers.routes.TitlePickerController.submit) {

        @listRadioGroup(field = titlePickerForm(TitleId),
            args = Map(
                'items -> Seq(
                    Title_Mr    -> Messages("titlePicker.mr"),
                    Title_Miss  -> Messages("titlePicker.miss"),
                    Title_Mrs   -> Messages("titlePicker.mrs"),
                    Title_Other -> Messages("titlePicker.other")
                ),
                //'value -> Title_Mr, // The radio button that is checked when user first arrives on the page.
                '_label -> Messages("titlePicker.label"),
                'autofocus -> true
            )
        )

        <div class="form-steps">
            <button id="submit" type="submit" name="action" class="button" aria-label="Next button">
                @Messages("titlePicker.button")
            </button>
        </div>
    }
}
