@(valtechNonFutureDateForm: Form[models.NonFutureDateModel])(implicit lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common
@import common.views.helpers.BaseTemplate.fieldConstructor
@import common.views.html.widgets.dates.valtechNonFutureDateInput
@import views.html.helper.form

@main(title = Messages("nonFutureDateInput.pageTitle"),
  currentForm = Some(valtechNonFutureDateForm)) {
  @form(action = controllers.routes.NonFutureDateController.submit) {

    @valtechNonFutureDateInput(valtechNonFutureDateForm(models.NonFutureDateModel.Form.NonFutureDateId), Messages("nonFutureDate"))

    <div class="form-steps">
        <button id="submit"
                type="submit"
                name="action"
                class="button"
                aria-label="Next button">
            @Messages("valtechInputText.button")
        </button>
    </div>
  }
}