//Common page/section specifics


.back-navigation {
    margin-bottom: 30px;
    display: block;
}

//vehicle lookup/enter vehicle details
.vehicle-lookup {
    .second-col .form-steps {
        margin-top: 0;

        .button-secondary {
          color: $black-2; //failsafe for ie6
        }
    }

    .trader-details {
        .playback {
            margin-bottom: 38px;
            margin-bottom: 3.75rem;
            @media screen and (max-width:$device-medium) {
                margin-bottom: 20px;
                margin-bottom: 2rem;
            }
        }
        dd {
            .ie6 & {
                clear: both;
            }
        }
    }
    .img-wrap {
        &.img-wrap-mobile {
            @media screen and (max-width:$device-medium) {
                display: inline-block;
                vertical-align: top;
                width: 100%;
                margin-top: 2em;
            }
        }
        img {
            .ie8 & {
                max-height: 200px; //failsafe to ensure that the correct height is rendered in ie8
            }
        }
    }
}

#{$htmlNamespace} {

    @include playback;

    .related {
        //margin: 1.2em 0 0 0;
        border-top: 10px solid $govuk-blue;
        padding: 1em 0 0 1em;
    }

    .second-col .related {
        margin-top: 0;
    }

    .info-notice {
        background: none;
        border-left: 10px solid $grey-2;
        margin-bottom: 2em;
        padding: 0.5em 0 0.5em 1em;
        p {
            margin: 0;
        }
    }

    .info-highlight {
      border: 4px solid $black-3;
      padding: 0.5em;
      margin-bottom: 2em;
      box-sizing: border-box;
    }

    //manual address entry
    .enter-address-manually {
        .form-item {
            margin-bottom: 1em;
        }
        .post-town {
            margin-bottom: 2em;
        }
    }

    //originally from retention sass
    .reg-number {
        width: 180px;
        .ie7 & {
          width: 170px;
        }
        display: inline-block;
        margin: 0 auto 10px auto;
        padding:6px 10px 10px 10px;
        box-sizing: border-box;
        vertical-align: top;
        border: solid 1px $grey-9;
        border-radius: 5px;
        background-color: $yellow-75;
        color: $black-2;
        text-align: center;
        line-height: 1.25;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .alert-complete .reg-number {
      width: 300px;
      .ie7 & {
        width: 200px;
      }
      font-size: 50px;
    }

    .reg-number-confirmation {
      .reg-number {
        margin-top: 10px;
        font-size: 30px;
        width: 180px;
        text-align: center;
      }
    }

    //originally from retention sass
    a.pdf-link img {
        float: left;
        max-height: 40px;
        padding-right: 10px;
    }

    //date of sale - todays date
    .todays-date {
        margin-bottom: 10px;
        margin-bottom: 1rem;

        @media screen and (max-width:$device-medium) {
            margin-bottom: 12px;
            margin-bottom: 1.25rem;
        }

        button {
            -webkit-appearance: none;
            border: 0 none;
            padding: 0;
            background: none;
            cursor: pointer;
            color: $purple-2;
            font-weight: bold;
            text-decoration: underline;
            font-size: 18px;
            @include box-shadow(none);
            &:hover,
            &:active {
                background: none;
                color: $link-hover-colour;
                text-decoration: underline;
            }

            &:focus {
              overflow: hidden; //prevents overlapping bug in Firefox
            }

            .ie & {
              font-size: 15px;
            }
            .ie8 &,
            .ie7 & {
              padding-right: 0;
              padding-left: 0;
            }
            @media screen and (max-width:$device-medium) {
              padding: 0.6em 0;
              margin-top: 0;
            }
        }
    }

    .summary-wrapper {
      margin-bottom: 1em;

      .summary {
        color:#005EA5;
        margin-bottom:15px;
        cursor: pointer;
        text-decoration: none;
        strong {
          text-decoration:underline;
        }
        &::before {
          content: "\25BA";
          margin-right: 8px;
        }
        &.active {
          &::before {
            content: "\25BC";
          }
        }
        &:focus {
            background: none;
            outline: none;
        }
      }

      .details {
          border-left: 4px solid #bfc1c3;
          padding: 10px 0 10px 15px;
          margin: 10px 15px 45px 0;
      }
    }

}

// Fixes button rendering in Firefox
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

// Modal style
.popup-modal {
  // appearance
  background: white;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
  padding: 16px;
  border-radius: 6px;
  width: 600px;
  max-width: 90%;
  // behaviour/positioning
  display: inline-block;
  z-index: 9999;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  // modern browser vertical centering
  top: calc(100% - 50%);
  transform: translateY(calc(1% - 51%));
  // modal-active style overrides
  .form-item {
    margin-bottom: 0;
  }
}

.site-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.65);
  z-index: 9998;
}

// IE Hacks for modal style
.ie{
    .site-overlay {
      background:transparent;
      -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000,endColorstr=#A5000000);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000,endColorstr=#A5000000);
      zoom: 1;
    }
}

.ie9 {
  .popup-modal {
    top: 0px !important;
  }
}

.ie7 {
  .popup-modal {
    margin: 0 auto 0 50% !important;
    left: -225px !important;
  }
}