//Common page/section specifics

//vehicle lookup/enter vehicle details
.vehicle-lookup {
    .second-col .form-steps {
        margin-top: 0;

        .button-secondary {
          color: $black-2; //failsafe for ie6
        }
    }

    .trader-details {
        .playback {
            margin-bottom: 38px;
            margin-bottom: 3.75rem;
            @media screen and (max-width:$device-medium) {
                margin-bottom: 20px;
                margin-bottom: 2rem;
            }
        }
        dd {
            .ie6 & {
                clear: both;
            }
        }
    }
    .img-wrap {
        &.img-wrap-mobile {
            @media screen and (max-width:$device-medium) {
                display: inline-block;
                vertical-align: top;
                width: 100%;
                margin-top: 2em;
            }
        }
        img {
            .ie8 & {
                max-height: 200px; //failsafe to ensure that the correct height is rendered in ie8
            }
        }
    }
}

#{$htmlNamespace} {

    @include playback;

    .related {
        margin: 1.2em 0 0 0;
        border-top: 10px solid $govuk-blue;
        padding-top: 1em;
    }

    .second-col .related {
        margin-top: 0;
    }

    .info-notice {
        background: none;
        border-left: 10px solid $grey-2;
        margin-bottom: 2em;
        padding: 0.5em 0 0.5em 1em;
        p {
            margin: 0;
        }
    }

    .info-highlight {
      border: 4px solid $black-3;
      padding: 0.5em;
      margin-bottom: 2em;
    }

    //manual address entry
    .enter-address-manually {
        .form-item {
            margin-bottom: 1em;
        }
        .post-town {
            margin-bottom: 2em;
        }
    }

    //originally from retention sass
    .reg-number {
        display: inline-block;
        vertical-align: top;
        width: 135px;
        text-align: center;
        line-height: 1.25;
        font-weight: bold;
        padding: 0.4em 0.5em 0.3em 0.5em;
        margin-bottom: 10px;
        letter-spacing: 1px;
        background-color: $yellow-75;
        border: solid 1px $grey-9;
        border-radius: 5px;
    }

    .playback .reg-number {
        width: 135px;
        padding: 0.4em 0.5em 0.3em 0.5em;
        margin-bottom: 10px;
    }

    .alert-complete .reg-number {
        clear: both;
        display: block;
        padding: 0.2em 0.5em 0.1em 0.5em;
        margin: {
            top: 2px;
            left: 30px;
        }
        width: 155px;
        margin-bottom: 5px;
        color: $black-2;

    }

    //originally from retention sass
    a.pdf-link img {
        float: left;
        max-height: 40px;
        padding-right: 10px;
    }

    //date of sale - todays date
    .todays-date {
        margin-bottom: 10px;
        margin-bottom: 1rem;

        @media screen and (max-width:$device-medium) {
            margin-bottom: 12px;
            margin-bottom: 1.25rem;
        }

        button {
            -webkit-appearance: none;
            border: 0 none;
            padding: 0;
            font-size: 0.9em;
            background: none;
            color: $govuk-blue;
            cursor: pointer;
            @include box-shadow(none);
            &:hover,
            &:active {
                background: none;
                color: $govuk-blue;
                text-decoration: underline;
            }

            &:focus {
              overflow: hidden; //prevents overlapping bug in Firefox
            }

            .ie & {
              font-size: 15px;
            }
            .ie8 &,
            .ie7 & {
              padding-right: 0;
              padding-left: 0;
            }
            @media screen and (max-width:$device-medium) {
              padding: 0.6em 0;
              margin-top: 0;
            }
        }
    }
}
