// Main template

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@font-face {
    font-family: GDS-Logo;
    src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

html, body, button, input, table, td, th {
    font-family:$NTA-Light;
}

html, body, div, h1, h2, h3, h4, h5, h6, article, aside, footer, header, hgroup, nav, section {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    background: $grey-3;
    font-size: 62.5%;
    overflow-y: scroll;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    color: $black-2;
    line-height: 1.5;
    font-weight: 400;
    font-size: 160%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

button {
    *overflow: visible;
}

// remove default image borders applied by browser
img {
    border: 0;
    max-width: 100%;
}

//hidden, visually hidden elements - screen reader friendly
.hidden {
    display: none;
    visibility: hidden;
}

.visuallyhidden {
    position: absolute;
    left: -9999em;
    &.focusable {
        &:active, 
        &:focus {
            clip: auto;
            height: auto;
            margin: 0;
            overflow: visible;
            position: static;
            width: auto;
        }
    }
}

.print-only {
    display:none !important;
}

// Please wait overlay message
.please-wait-overlay {
    background: rgba( $black-1 , 0.3);
    position:fixed;
    display: none;
    margin: auto;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    .ie8 & {
        background:transparent;
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
        zoom: 1;
    }
}

.please-wait-container {
    max-width: 500px;
    min-width: 300px;
    top: 10%;
    background: $white;
    padding: 36px;
    margin:  10% auto auto auto;
}

// end of Please wait overlay message

.hint-image-wrap {
    p {
        -webkit-tap-highlight-color: rgba(0,0,0,0.3);
        color: #2e3191;
        cursor: pointer;
        font-weight: 500 !important;
        font-size: 1.5rem !important;
        display: inline-block;
        margin: 0 0 2.5em 0 !important;
        -webkit-font-smoothing: antialiased;
        text-decoration: underline;
    }
}

//main content/app wrapper
#main {
    background:$white;
    margin:0;
    padding:0;
    display: block;
    border-bottom: 10px solid $govuk-blue;
}

.serviceClosingWarning {
  width: 100%;

  p {
    color: $white;
    margin: 0 auto;
    font-weight: bold;
    font-size: 24px;
    max-width: 980px;
    padding: 8px 15px;
    box-sizing: border-box;
    .count-down-wrapper {
        width: 70px;
        display: inline-block;
    }
    &.serviceClosed {
        display: none;
    }
  }
  &.closing-warning{
    background: $govuk-blue;
  }

  &.final-closing-warning {
    background: $yellow;
      p {
        color: $black-1;
      }
  }
}
.app {
    background: $white;
    margin: 0 auto;
    max-width: 980px;
    .ie7 &,
    .ie6 & {
      width:940px;
    }

    .section-content {
        padding:1.7em 15px 0 15px;
        margin-bottom:4em;
        @include clearfix;
        .ie7 & {
            display:inline-block;
        }
    }

    h1 {
        @include h1-typography;
    }

    h2 {
        @include core-24;
        font-weight: 700;
        margin-bottom:0.6em;
        .ie & {
            font-size: 24px;
        }
    }
    h2.page-title {
        @include h1-typography;
    }

    p {
        @include copy-19;
        .ie & {
            font-size:19px;
        }

        &.link-manual-address {
            position: relative;
            top:-0.3em;
        }
        .ie7 & {
          width: 100%;
        }
    }

    ol, ul {
        @include copy-19;
        padding-left:25px;
        li {
            margin-bottom:1em;
        }
        .ie7 & {
          li {
              position: relative;
              vertical-align: middle;
          }
        }
    }

    dd {
        margin:0;
    }

    .img-wrap {
        @include img-multi-wrap(300px);
    }

    //two column layout
    .two-col {
        @include clearfix;
        width: 100%; //failsafe

        .first-col,
        .second-col {
            .playback {
                width: 100%;
             }
        }

        .first-col {
            @include clearfix;
            width: 30%;
            float: right;
            @media screen and (max-width: $device-medium) {
                float: none;
                width: 100%;
                clear: both;
                margin-bottom: 2em;
            }
        }
        .second-col {
            @include clearfix;
            width: 63%;
            float: left;
            @media screen and (max-width: $device-medium) {
                float: none;
                width: 100%;
                clear: both;
                margin-bottom: 2em;
            }
        }
    }

    .mobile-only {
        @media screen and (min-width:$device-medium) {
            display: none;
        }
        .ie8 &,
        .ie7 & {
            display: none;
        }
    }
    .desktop-only {
        display: none;
        @media screen and (min-width:$device-medium) {
            display: block;
        }
        .ie8 &,
        .ie7 & {
            display: block;
        }
    }


}

#{$htmlNamespace} {
    .inline-desktop-only {
        display: none;
        @media screen and (min-width:$device-medium) {
            display: inline-block;
        }
        .ie8 &,
        .ie7 & {
            display: inline-block;
        }
    }

    .js-has-tooltip {
        display: none;
        color: $govuk-blue;
        border: 1px solid $govuk-blue;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        width: 25px;
        text-align: center;
        margin-left: 5px;
        cursor: pointer;
        &.enabled {
            @extend .inline-desktop-only;
        }
    }

    .js-tooltip {
        background: $white;
        z-index: 9999;
        margin: 0 0 10px 0;
        padding: 16px 32px;
        border: 1px solid $govuk-blue;
        p {

            color: $govuk-blue;
            text-align: left;
        }
        &.js-tooltip-style {
            display: block !important;
            position: static;
            float: left;
        }
    }

    .address-lookup-wrapper {
        width: 100%;
        float: left;
        margin-bottom: 30px;

        .ajax-error {
            color: $red;
            display: none;
        }
        .left-col {
            .ie7 & {
                width: 100%;
            }
            width: 30%;
            float: left;
            min-height: 1px;
        }
        .right-col {
            .ie7 & {
                width: 100%;
            }
            width: 70%;
            float: left;
            span {
                width: 100%;
                color: $purple-2;
                cursor: pointer;
                display: block;
                text-decoration: underline;
                text-align: left;
            }
        }
        .form-item {
            &.validation {
                padding: .7em;
                float: left;
                margin-left: 0;
                width: 100%;
            }
            box-sizing: border-box;
            padding: 0;
            margin-bottom: 20px;
            input {
                margin-bottom: 10px;
                width: 100%;
                text-transform: uppercase;
                box-sizing: border-box;
            }
            ::-webkit-input-placeholder {
                /* WebKit browsers */
                text-transform: none;
            }
            :-moz-placeholder {
                /* Mozilla Firefox 4 to 18 */
                text-transform: none;
            }
            ::-moz-placeholder {
                /* Mozilla Firefox 19+ */
                text-transform: none;
            }
            :-ms-input-placeholder {
                /* Internet Explorer 10+ */
                text-transform: none;
            }
            .address-postcode-lookup {
                width: 130px;
                float: left;
                .ie7 & {
                    width: 100%;
                }
            }
            select {
                width: 100%;
            }
            .address-reset-form {
                width: 100%;
                float: left;
            }
            .form-checkbox {
                input {
                    width: auto;
                }
            }

        }
        .address-find-wrapper {
            .ie7 & {
                width: 100%;
                float: none;
            }
            width: 250px;
            float: right;
            margin-left: 10px;
            button {
                margin: 0 0 10px 0;
                display: inline-block;
                width: 100%;
            }
            span {
                width: 100%;
                color: $purple-2;
                cursor: pointer;
                display: block;
                text-align: center;
                text-decoration: underline;
            }
        }
        .business-remember-details {
            display: inline-block;
            width: 100%;
            label {
                margin: 30px 0 0 0;
                width: 100%;
            }
            span {
                width: 100%;
                color: $purple-2;
                cursor: pointer;
                margin-top: 10px;
                display: block;
                text-align: left;
                text-decoration: underline;
            }
        }
    }
    @media screen and (max-width: 960px) {
        .address-lookup-wrapper {
            .left-col, .right-col {
                width: 100%;
            }
            .form-item {
                input, select {
                    width: 100%;
                    max-width: 100%;
                    float: none;
                }
                #address-postcode-lookup {
                    width: 130px;
                    float: left;
                }
                .address-find-wrapper {
                    width: 70%;
                    float: none;
                    margin-left: 0;
                    button {
                        margin: 10px 0;
                        float: left;
                        width: auto;
                        clear: both;
                    }
                    a {
                        width: 100%;
                        display: inline-block;
                        text-align: left;
                    }
                }
            }
        }
    }
    .no-js-hidden {
        display: none;
    }
    #address-find {
        height: 45px;
    }
}
