//Config file

//device widths
$device-x-small: 350px;
$device-small: 640px;
$device-medium: 767px;
$device-large: 980px;

//filepaths
$image-path: "lib/vehicles-presentation-common/images/";

//input width
$input-width: 31.3rem;
