//utilities

@function phase-colour($phase) {
    @if $phase == "alpha" { @return $alpha-colour; }
    @if $phase == "beta" { @return $beta-colour; }
    @else { @return $govuk-blue;  }
}

@function phase-tag-colour($phase) {
    @if $phase == "alpha" { @return $alpha-colour }
    @if $phase == "beta" { @return $beta-colour }
    @else { @return $beta-colour; }
}

@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

//CSS for hiding elements visually but not for screen readers
@mixin sr-only {
    position: absolute;
    top:0;
    left:-9999px;
}

@mixin to-uppercase {
    text-transform:uppercase;
}


@mixin summary-detail-list-item-float {
    float:left;
    @media screen and (max-width:$device-small) {
        clear:both;
        width:100%;
    }
}

//summary detail item width for one column
@mixin summary-detail-list-item-base($title-min-width:120px) {
    dt, dd {
        @include copy-19;
        margin-bottom:0;
        .ie6 & {
            float:none;
        }
    }
    p,
    dd {
        //prevent long text from breaking out of container. see:
        //css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
        -ms-word-break:break-all;
        word-break:break-all;
        word-break:break-word;
        word-wrap:break-word;
        webkit-hyphens:auto;
        -moz-hyphens:auto;
        hyphens:auto;
        width:61%;
        @media screen and (max-width: $device-medium) {
            width:100%;
        }
    }
    dt {
        float:left;
        min-width:$title-min-width;
        width:36%;
        font-weight:bold;
        clear:left;

        @media screen and (max-width: $device-medium) {
            padding-top:0;
            margin-bottom:0;
            width:100%;
        }
        &.full-width {
            width:100%;
        }
    }
    dd {
        @include to-uppercase;
    }
    p {
        margin:0;
    }
    dt,
    dd,
    p {
        font-size:15px;
        @include box-sizing(border-box);
        @include summary-detail-list-item-float;
    }
}

//summary playback. This could be a DL element, or a wrapping div
@mixin summary-detail-list($bg:transparent,$title-min-width:120px) {
    .summary-detail-list {
        @include clearfix;
        @include box-sizing(border-box);
        @include summary-detail-list-item-base($title-min-width);
        @if$bg == transparent {
            padding:0;
        } @else {
            padding:1em;
        }
        margin:23px 0 20px 0;
        margin:2.3rem 0 2rem 0;
        width:50%;
        background:$bg;
        .first-col & {
            width:100%;
        }
        @media screen and (max-width:$device-medium - 1px) {
            width:50%;
        }
        @media screen and (max-width:$device-small) {
            width:100%;
        }
    }
}

//img wrapper to show-hide mobile/desktop images
@mixin img-multi-wrap($max-width){
    clear:both;
    img {
        width:100%;
        max-width:$max-width;
        .ie6 & {
            width:$max-width;
        }
    }
    &.img-wrap-mobile {
        display:none;
    }
    @media screen and (max-width:$device-medium) {
        &.img-wrap-mobile {
            display:block;
            img {
                display:inline-block;
                vertical-align:top;
                margin:0 0 2.2em 0;
                text-align:left;
            }
        }
        &.img-wrap-desktop {
            display:none;
        }
    }
    @media screen and (max-width:$device-small) {
        &.img-wrap-mobile img {
          display:block;
          margin-left:auto;
          margin-right:auto;
        }
    }
}