//utilities

@function phase-colour($phase) {
    @if $phase == "alpha" { 
        @return $alpha-colour; 
    }
    @if $phase == "beta" { 
        @return $beta-colour; 
    }
    @else { 
        @return $govuk-blue;  
    }
}

@function phase-tag-colour($phase) {
    @if $phase == "alpha" { 
        @return $alpha-colour;
    }
    @if $phase == "beta" { 
        @return $beta-colour;
    }
    @else { 
        @return $beta-colour; 
    }
}

@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

//hide elements visually but not for screen readers
@mixin sr-only {
    position: absolute;
    top: 0;
    left: -9999px;
}

@mixin to-lowercase {
    text-transform: lowercase;
}

@mixin to-uppercase {
    text-transform: uppercase;
}

@mixin h1-typography {
    @include heading-27;
    font: {
        weight: bold;
        size: 25px;
    }
    @media screen and (min-width:$device-small) {
        @include heading-36;
        font-weight: bold;
        padding-bottom: 0;
    }
    .ie8 &,
    .ie7 & {
        @include heading-36;
        font-weight: bold;
    }
}

//prevent long text from breaking out of container. see:
//css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
@mixin long-text-wrap($type) {
    @if $type == "full" {
      white-space: pre;
      // CSS 2.0
      white-space: pre-wrap;
      // CSS 2.1
      white-space: pre-line;
      // CSS 3.0
      white-space: -pre-wrap;
      // Opera 4-6
      white-space: -o-pre-wrap;
      // Opera 7
      white-space: -moz-pre-wrap;
      // Mozilla
      white-space: -hp-pre-wrap;
      // HP Printers
      word-wrap: break-word;
      // IE 5+
        webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }
    @if $type == "word" {
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }
}


//playback item width for one column
@mixin playback-list-item-base {
    dt, 
    dd {
        @include copy-19;
        padding-top: 0;
        margin-bottom: 0;
    }
    p,
    dd {
        word-wrap: break-word;
    }
    dt {
        padding-bottom: 0;
    }
    dd {
        @include to-uppercase;
        font-weight: bold;
        padding-bottom: 10px;
        &:last-child {
            padding-bottom: 0;
        }
    }
    p {
        margin: 0;
    }
    dt,
    dd,
    p {
        @include box-sizing(border-box);
        clear: both;
        width: 100%;
        font-size: 19px;
        @media screen and (max-width:$device-small) {
            font-size: 16px;
        }
    }
}

//playback - this could be a DL element, or a wrapping div
@mixin playback() {
    .playback {
        @include clearfix;
        @include box-sizing(border-box);
        @include playback-list-item-base;
        width: 50%;
        margin: 0 0 20px 0;
        padding: 0;
        background: none;
        @media screen and (max-width:$device-small) {
            margin: 0 0 10px 0;
        }
        @media screen and (max-width:$device-medium - 1px) {
            width: 50%;
        }
        @media screen and (max-width:$device-small) {
            width: 100%;
        }
    }
    .first-col .playback {
        width: 100%;
        background: $light-blue-25;
        padding: 1em;
        &.bg-plain {
            background: none;
            padding: 1em;
        }
        dt,
        dd,
        p {
            font-size: 16px;
        }
    }
    .info-notice .playback {
        background: none;
        padding: 0;
    } 
}

//img wrapper to show-hide mobile/desktop images
@mixin img-multi-wrap($max-width){
    clear:both;
    img {
        width: 100%;
        max-width: $max-width;
        .ie6 & {
            width: $max-width;
            border: 0 none;
        }
    }
    &.img-wrap-mobile {
        display: none;
    }
    @media screen and (max-width:$device-medium) {
        &.img-wrap-mobile {
            display: block;
            img {
                display: inline-block;
                vertical-align: top;
                margin: 0 0 2.2em 0;
                text-align: left;
            }
        }
        &.img-wrap-desktop {
            display: none;
        }
    }
    @media screen and (max-width:$device-small) {
        &.img-wrap-mobile img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
    }
}
