@(field: play.api.data.Field, args: Map[Symbol, Any] = Map.empty)(implicit lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common.views
@import views.models.AddressLinesViewModel.Form.AddressLinesId
@import views.helpers.BaseTemplate.fieldConstructor
@import _root_.views.html.helper.input
@import views.html.widgets.addressLines

<fieldset>
    @input(field,args.toSeq: _*){(id, name, value, htmlArgs) =>
        @addressLines(field(AddressLinesId),
            args = Map('_label -> Messages("address.lines.label")))
    }
</fieldset>
